.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(98, 111, 233);
  padding: 1%;
}

.header a {
  color: #fff;
  /* text-decoration: none; */
  font-size: 1.2em;
  /* border: 0.1em solid #fff; */
  padding: 0.5%;
}

.play {
  width: 100vw;
  height: 100vh;

  background-color: rgb(195, 226, 121);
}
.manage {
  width: 100vw;
  height: 100vh;

  background-color: rgb(149, 172, 96);
}

.manage .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}
